$primary-color: black;
$color-gray : #d9dadb;
$color-white : #fff;

$default-font-size:1.0rem;
$font-size-large:1.75rem;
$font-size-medium:1.5rem;
$font-size-small:0.9rem;

$default-font-weight: 400;
$font-weight-bold: 600;


@mixin mediaSizeForMobile() {
  @media screen and (max-width:900px) {
    @content;
  }
}