@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&family=Zilla+Slab:ital,wght@0,300;0,400;1,300;1,400&display=swap');


$main-font-family:'Zilla Slab', serif;
$menu-title-font-family:'Almarai', sans-serif;

$default-font-color:#414141;
$sub-font-color: #9d9d9c;

$default-focus-font-color:#d4d5dc;
$default-font-weight: 300;
$font-weight-bold: 600;

$default-article-margin-bottom:82px;


$font-size-small : 0.75rem;
$font-size-normal : 1rem;
$font-size-medium : 1.75rem;
$font-size-large : 2.25rem;
$font-size-x-large : 2.75rem;

$primary-color:#f3ede8;
$card-color-mint : #dee8e9;
$card-color-apricot : #f9dbbe;
$point-color: #cfa102;
$light-color:white;


@mixin menuFontStyle {
  font-family: $menu-title-font-family;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-small;
}

@mixin linkButton{

  @include menuFontStyle;
  
  cursor: pointer;
  padding: 20px 50px;
  background-color:transparent;
  color: $light-color;
  border : 1px solid $light-color;
  display: inline-block;
  transition: color,background-color 0.3s ease-in-out;
  
  &:hover{
    background-color: $light-color;
    color: $default-font-color;
  }
}

@mixin linkButtonDark {
  @include linkButton;
  color: $default-font-color;
  border: 1px solid $default-font-color;

  &:hover{
    background-color: $default-font-color;
    color: $light-color;
  }
}