@import '../_values_global', '_values';

html,
body{
  width: 100vw;
  height: 100vh;
}

body{
  color: $default-font-color;
  font-family: $main-font-family;
  font-weight: $default-font-weight;

  & *{
    box-sizing: border-box;
  }
}

em{
  font-style: italic;
}

a{
  cursor: pointer;
  color: $default-font-color;
  text-decoration: none;

  &:hover{
    color: $default-focus-font-color
  }
}

header{
  width: 100%;
  padding: 20px 140px;
  background-color: $light-color;

  @include menuFontStyle;
  
  position: fixed;
  top:0;
  z-index: 10;

  & > nav{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    & > .column{
      display: flex;
      align-items: center;

      &:nth-child(2){
        justify-content: center;
      }

      &:last-child{
        justify-content: flex-end;
      }
    }

    & .logo{
      width: 36px;
      height: 36px;
    }

    & ul{
      display: flex;
      align-items: center;

      & .icon-shop{
        font-size: 1.25rem;
      }

      & li:not(:last-child){
        margin-right: 45px;
      }
    } 
  }
}

main{
  padding: 0px 140px;
  margin-top: 100px;
}

.page-main{
  height: 76vh;
  margin-bottom: 82px;
}

.page-main__hero{
  width: 100%;
  height: 100%;
  color:$light-color;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  & .page-main__hero_content{
    width: 40%;
    text-align: center;

    & .title{
      @include menuFontStyle;
      margin-bottom: 40px;
    }

    & .subtitle{
      font-size: $font-size-x-large;
      margin-bottom: 40px;
    }

    & a{
      @include linkButton;
    }
  }
}

.content_card{
  width: 100%;
  height: 68vh;
  display: flex;

  & .content_card__image{
    width: 50%;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .content_card__content{
    width: 50%;
    background-color: $primary-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .title{
      @include menuFontStyle;
      margin-bottom: 35px;
    }

    & .subtitle{
      width: 60%;
      font-size: $font-size-large;
      margin-bottom: 70px;
    }

    & .content_card__icon_btn{
      display: flex;

      & button,
      & .arrow-icon-box{
        @include linkButton;
        color: $default-font-color;
        border: 1px solid $default-font-color;
      }

      & > button{
        padding-right: 100px;
      }

      & > .arrow-icon-box{
        padding: 20px;
      }

      &:hover button,
      &:hover .arrow-icon-box{
        cursor: pointer;
        background-color: $default-font-color;
        color: $light-color;
      }

    }

  }
}

