@import '../_values_global', '_values';

html,
body{
  width: 100%;
  height: 100vh;
}

body{
  color: $default-font-color;
  font-family: $main-font-family;
  font-weight: $default-font-weight;

  & *{
    box-sizing: border-box;
  }
}

em{
  font-style: italic;
}

a{
  cursor: pointer;
  color: $default-font-color;
  text-decoration: none;

  &:hover{
    color: $default-focus-font-color
  }
}

input:focus{
  outline: none;
}

::selection {
  background: #414141;
  color: #fff;
  text-shadow: none;
}

header{
  @include menuFontStyle;

  width: 100%;
  padding: 20px 140px;
  background-color: $light-color;
  
  position: fixed;
  top:0;
  z-index: 10;

  & > nav{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    & > .column{
      display: flex;
      align-items: center;

      &:nth-child(2){
        justify-content: center;
      }

      &:last-child{
        justify-content: flex-end;
      }
    }

    & .logo{
      width: 36px;
      height: 36px;
    }

    & ul{
      display: flex;
      align-items: center;

      & .icon-shop{
        font-size: 1.25rem;
      }

      & li:not(:last-child){
        margin-right: 45px;
      }
    }
    
    & .mobile-menu{
      cursor: pointer;
      display: none;
      font-size: 1.25rem;
    }
  }

  @include mediaSizeForDevice($device_type_desktop_and_laptop) {
    padding: 20px 50px;
  }
  @include mediaSizeForDevice($device_type_smaller_tablet) {
    padding: 10px 0px;

    & > nav{
      & > .column{
        padding: 0px 10px;  
      }
      & ul{
        display: none;
      }
      & .mobile-menu{
        display: block;
      }
    }
  }
}

main{
  padding: 0px 140px;
  margin-top: 100px;

  @include mediaSizeForDevice($device_type_desktop_and_laptop) {
    padding: 0px 50px;
  }
  @include mediaSizeForDevice($device_type_smaller_tablet) {
    margin-top: 60px;
    padding: 0px;
  }
}

.page-main{
  height: 75vh;
  margin-bottom: $default-article-margin-bottom;

  & .page-main__hero{
    width: 100%;
    height: 100%;
    color:$light-color;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    & .page-main__image{
      & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    & .page-main__hero_content{
      width: 40%;
      text-align: center;

      & .title{
        @include menuFontStyle;
        margin-bottom: 40px;
      }

      & .subtitle{
        font-size: $font-size-x-large;
        margin-bottom: 40px;
      }

      & a{
        @include linkButton;
      }
    }
  }

  @include mediaSizeForDevice($device_type_tablet_and_ipad) {
    height: 62vh;
    & .page-main__hero{
      & .page-main__hero_content{
        width: 60%;
        & .subtitle{
          font-size: $font-size-large;
        }
      }
    }
  }
  @include mediaSizeForDevice($device_type_smaller_ipad) {
    height: auto;
    & .page-main__hero{
      color:$default-font-color;
      & .page-main__image{
        & img{
          max-height: 54vh;
          object-position: top;
          position: relative;
          content: url('../../images/paintbox/main_image_m.jpg');
        }
      }

      & .page-main__hero_content{
        width: 90%;
        margin-top: 40px;
        & .subtitle{
          font-size: $font-size-medium;
        }
        & a{
          @include linkButtonDark;
        }
      }
    }
  }
}

.content_card{
  width: 100%;
  height: 65vh;
  margin-bottom: $default-article-margin-bottom;
  background-color: $primary-color;
  display: flex;

  & .content_card__image{
    width: 50%;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .content_card__content{
    width: 50%;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .title{
      @include menuFontStyle;
      margin-bottom: 35px;
    }

    & .title--normal{
      font-family: $main-font-family;
      font-weight: $default-font-weight;
      font-size: $font-size-normal;
      text-transform: none;
    }

    & .subtitle{
      width: 90%;
      font-size: $font-size-medium;
      margin-bottom: 70px;
    }

    & > button{
      @include linkButtonDark;
    }

    & > .link {
      @include menuFontStyle;

      &:hover{
        color: $default-font-color;
      }

      & > i::before{
        transition: transform 0.3s linear;
      }

      &:hover > i::before{
        transform: translateX(5px);
      }

    }

    & .content_card__icon_btn{
      display: flex;

      & button,
      & .arrow-icon-box{
        @include linkButtonDark;
      }

      & > button{
        padding-right: 100px;
      }

      & > .arrow-icon-box{
        padding: 20px;
      }

      &:hover button,
      &:hover .arrow-icon-box{
        background-color: $default-font-color;
        color: $light-color;
      }
    }
  }

  @include mediaSizeForDevice($device_type_smaller_ipad) {
    height: auto;
    flex-direction: column!important;

    & .content_card__image{
      width: 100%;
      height: 70%;
    }
  
    & .content_card__content{
      width: 100%;
      height: 30%;
      padding: 40px 0px;
    }
  }
}

.content_card--mint{
  background-color: $card-color-mint;
}

.content_card--apricot{
  background-color: $card-color-apricot;
}


.newest_colors{
  width: 100%;
  height: 100vh;

  & .newest_colors__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .title{
      @include menuFontStyle;
      margin-bottom: 25px;
    }

    & > .subtitle{
      font-size: $font-size-large;
      margin-bottom: 25px;
    }

    & .newest_colors__list{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;

      & .item{
        width: 100%;
        cursor: pointer;

        & .product_image_container{
          width: 100%;
          height: 60%;

          & .product_image{
            width: 100%;
            height: 100%;
            position: relative;

            & img{
              width: 100%;
              height: 100%;
              object-fit: none;
              transition: opacity 0.3s ease-in-out;
              position: absolute;
              top: 0;
              left: 0;
            }
  
            & > .product_color{
              opacity: 0;
            }
  
            &:hover > .product{
              opacity: 0;
            }
            &:hover > .product_color{
              opacity: 1;
            }
          }
        }

        &:first-child .product{
          content: url('../../images/paintbox/power_couple_1.png');
        }
        &:first-child .product_color{
          content: url('../../images/paintbox/power_couple_color_1.png');
        }

        &:nth-child(2) .product{
          content: url('../../images/paintbox/power_couple_2.png');
        }
        &:nth-child(2) .product_color{
          content: url('../../images/paintbox/power_couple_color_2.png');
        }

        &:last-child .product{
          content: url('../../images/paintbox/power_couple_3.png');
        }
        &:last-child .product_color{
          content: url('../../images/paintbox/power_couple_color_3.png');
        }

        & .title{
          @include menuFontStyle;
          margin-bottom: 12px;

          & .new{
            color: $point-color;
          }
        }

        & .subtitle{
          margin-bottom: 35px;

          & .name{
            font-size: $font-size-medium;
            font-style: italic;
            margin-bottom: 25px;
          }

          & .price{
            @include menuFontStyle;
            color: $sub-font-color;

            & > a{
              position: relative;
              display: none;
              color: $sub-font-color;

              &::after{
                content: '';
                width: 100%;
                height: 1px;
                background-color: $sub-font-color;
                position: absolute;
                bottom:-3px;
                left: 0;
              }
            }

            &:hover span{
              display: none;
            }
            &:hover a{
              display: inline-block;
            }
          }
        }

        & > button{
          @include linkButtonDark;
        }
      }
    }
  }

  @include mediaSizeForDevice($device_type_smaller_ipad) {
    & .newest_colors__container{
      & .newest_colors__list{
        grid-template-columns: repeat(1, 1fr);
        & .item:nth-child(n+2){
          display: none;
        }
      }
    }
  }
}

.inspiration{
  width: 100%;
  height: 50vh;
  margin-bottom: $default-article-margin-bottom;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  & .inspiration__title{
    text-align: center;
    margin-bottom: 80px;
    & .title{
      @include menuFontStyle;
      margin-bottom: 40px;
    }

    & .subtitle{
      font-size: $font-size-large;
    }
  }

  & .inspiration__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;

    & .item{
      @include menuFontStyle;
      width: 12.5%;
      color: $sub-font-color;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      cursor: pointer;

      & >img{
        width: 100%;
        padding: 0 25px 25px;
      }

      &:not(:last-child){
        border-right: 1px solid $sub-font-color;
      }
    }
  }

  & > button{
    @include linkButtonDark;
  }

  @include mediaSizeForDevice($device_type_tablet_and_ipad) {
    & .inspiration__list{
      & .item{
        width: 15%;
      }
    }
  }

  @include mediaSizeForDevice($device_type_smaller_ipad) {
    height: auto;

    & .inspiration__title{
      & .subtitle{
        font-size: $font-size-medium;
      }
    }

    & .inspiration__list{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
      justify-items: center;
      grid-gap: 10px;

      & .item{
        width: 100%;

        & >img{
          max-width: 70%;
        }
        &:not(:last-child){
          border-right: none;
        }
      }
    }
  }
}

.story{
  display: flex;
  flex-direction: column;
  margin-bottom: $default-article-margin-bottom;

  & .content_card{
    margin-bottom: 0;
    height: 45vh;

    &:nth-child(even){
      flex-direction: row-reverse;
    }
  }

  @include mediaSizeForDevice($device_type_smaller_ipad) {
    & .content_card{
      height: auto;

      & .content_card__content{

        & .subtitle{
          margin-bottom: 40px;
        }
      }
    }
  }
}

.join-conversation{
  margin-bottom: $default-article-margin-bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .join-conversation__title{
    width: 50%;
    text-align: center;
    margin-bottom: 70px;

    & .title{
      @include menuFontStyle;
      margin-bottom: 50px;
    }

    & .subtitle{
      font-size: $font-size-large;
    }
  }

  & .join-conversation__input{
    width: 50%;

    & .email-input-box{
      padding-bottom: 20px;
      border-bottom: 1px solid $default-font-color;

      display: flex;
      justify-content: space-between;
      align-items: center;

      & > input,
      & > button{
        border: none;
      }

      & > input{
        max-width: 80%;
        font-family: $main-font-family;
        font-size: $font-size-large;

        &::placeholder{
          opacity: 0.7;
        } 
      }

      & > button{
        cursor: pointer;
        padding: 12px;
        font-size: $font-size-normal;
        background-color: transparent;
        border:  1px solid $default-font-color;
      }
    }
  }

  @include mediaSizeForDevice($device_type_smaller_tablet) {
    & .join-conversation__title{
      width: 90%;
      margin-bottom: 40px;

      & .subtitle{
        font-size: $font-size-medium;
      }
    }
    
    & .join-conversation__input{
      width: 70%;
      & .email-input-box{
        & > input{
          font-size: $font-size-medium;
        }
      }
    }
  }
}


.gallery{
  width: 100%;
  margin-bottom: $default-article-margin-bottom;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & .gallery__image{
    cursor: pointer;
    height: 100%;

    position: relative;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after{
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;

      transition: opacity 0.3s ease-in-out;
    }

    &:hover::after{
      opacity: 0.4;
    }

  }

  @include mediaSizeForDevice($device_type_smaller_ipad) {
    grid-template-columns: repeat(2, 1fr);
    & .gallery__image:nth-child(n+5){
      display: none;
    }
  }
}

.follow-instagram{
  margin-bottom: $default-article-margin-bottom;
  font-size: $font-size-large;

  display: flex;
  justify-content: center;
  align-items: center;

  & > a{
    margin-left: 5px;
    color: $default-focus-font-color;
  }
}

footer{
  @include menuFontStyle;

  width: 100%;
  padding: 65px 0px;
  background-color: $primary-color;

  display: flex;
  justify-content: center;
  align-items: center;

  & .column{
    width: 33%;
    text-align: center;

    & .title{
      opacity: 0.5;
      margin-bottom: 35px;
    }

    & > ul li {
      cursor: pointer;
      margin-bottom: 15px;
    }

  }

  & .column:not(:last-child){
    border-right: 1px solid $default-font-color;
  }

  @include mediaSizeForDevice($device_type_smaller_ipad) {
    padding: 35px 40px;
    flex-direction: column;

    & .column{
      width: 100%;
    }

    & .column:first-child{
      order:2;
    }

    & .column:nth-child(2){
      order:1;
    }

    & .column:last-child{
      order:3;
    }

    & .column:not(:last-child){
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-right: none;
      border-bottom: 1px solid $default-font-color;
    }

  }
}