
$border-color:#dadada;
$gray-color:#464646;
$light-color:white;

$default-font-color:#000;
$default-font-weight: 300;

$font-weight-bold:600;
$font-weight-dark:900;

$font-size-large:1.5rem;
$font-size-medium:1.25rem;
$font-size-normal:1.0rem;
$font-size-small:0.75rem;


$header-size:54px;