//define global values and mixin

$device_type_desktop : "Desktop";
$device_type_desktop_and_laptop : "DesktopAndLaptop";

$device_type_tablet_and_ipad : "TabletAndIpad";
$device_type_tablet_and_ipad_l : "TabletAndIpadLandscape";

$device_type_tablet_and_mobile : "TabletAndMobile";
$device_type_tablet_and_mobile_l : "TabletAndMobileLandscape";

$device_type_mobile_phone : "MobilePhone";


@mixin mediaSizeForDevice($deviceType) {
    $device_size_desktop: 1281px;

    /*
    Device = Desktop
    Screen = 1281px to higher resolution desktops
    */
    @if $deviceType==$device_type_desktop {
        @media screen and (min-width:$device_size_desktop) {
            @content;
        }
    }

    @else if $deviceType==$device_type_desktop_and_laptop {}
}