@import '_values';

html,
body {
    margin: 0;
    height: 100%;
    display: flex;
}

header {
    width: 35%;
    min-width: 430px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: $header_bg_color;
    color: $header_font_color;

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 72px;

        &.page_title {
            height: 30%;

            h1 {
                margin: 0;
                line-height: 0.9;

                font: {
                    size: 3.5rem;
                    weight: inherit;
                }
            }
        }

        &.page_subtitle {
            height: 70%;

            p {
                margin-bottom: 2rem;
            }

            p:nth-child(1) {
                font-size: 24px;
            }

            p:nth-child(2) {
                font-size: 18px;
            }
        }
    }

    nav {

        a {
            box-shadow: $nav_a_shadow;
            display: inline-block;

            margin: {
                right: 5px;
                bottom: 10px;
            }

            &:link,
            &:visited {
                text-decoration: none;
                color: $nav_a_normal_color;
            }

            &:hover {
                text-decoration: none;
                color: $nav_a_hover_color;
            }
        }
    }
}

main {
    width: 65%;
    height: 100%;

    section {
        &.container_screens {
            background-color: $container_screen_bg_color;

            article {
                padding: 36px;
                color: white;

                div {
                    &.screen_title {}

                    &.screen_content {

                        img {
                            width: 100%;

                        }

                    }

                    &.screen_footer {}
                }



            }
        }
    }
}