@import '_values';
@import '_value_horrorscreens';

html,
body {
    position: relative;
    margin: 0;
    height: 100%;
    display: flex;
}

header {
    width: 35%;
    min-width: 430px;
    height: 100%;

    position: fixed;

    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: $header_bg_color;
    color: $header_font_color;

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 72px;

        &.page_title {
            height: 30%;

            h1 {
                margin: 0;
                line-height: 0.9;

                font: {
                    size: 3.5rem;
                    weight: inherit;
                }
            }
        }

        &.page_subtitle {
            height: 70%;

            p {
                margin-bottom: 2rem;
            }

            p:nth-child(1) {
                font-size: 24px;
            }

            p:nth-child(2) {
                font-size: 18px;
            }
        }
    }

    nav {
        a {
            box-shadow: $nav_a_shadow;
            display: inline-block;

            margin: {
                right: 5px;
                bottom: 10px;
            }

            &:link,
            &:visited {
                text-decoration: none;
                color: $nav_a_normal_color;
            }

            &:hover {
                text-decoration: none;
                color: $nav_a_hover_color;
            }
        }
    }
}

main {
    width: 100%;
    height: 100%;

    padding-left: 430px;

    @media screen and (min-width : 1245px) {
        padding-left: 35%;
    }

    section {
        &.container_screens {
            background-color: $container_screen_bg_color;

            article {
                padding: 36px;
                color: white;
                background: linear-gradient(to bottom, #0000000f 3%, $container_screen_bg_color 35%);

                div {
                    &.screen_title {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        margin-bottom: 1rem;
                        font-weight: inherit;

                        h2 {
                            position: relative;
                            font-size: 1.5rem;

                            a {
                                opacity: 0;
                                position: absolute;
                                right: 100%;
                                @include AniOpacity(0.2s, 0s);
                            }

                            &:hover>a,
                            a:hover {
                                opacity: 1;
                            }
                        }
                    }

                    &.screen_content {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 1.25rem;
                        box-shadow: 0 40px 40px -40px #000, 0 0 12px rgba(0, 0, 0, .06), inset 0 0 0 1px rgba(0, 0, 0, .2);

                        img {
                            width: 100%;
                        }

                        .play_icon {
                            position: absolute;
                        }
                    }

                    &.screen_footer {
                        display: flex;
                        justify-content: flex-end;

                        &>span,
                        &>button {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}